# Copy this file to /etc/udev/rules.d/
# You can reload the udev rules with "udevadm control --reload"

SUBSYSTEM=="usb", \
    ATTRS{idVendor}=="c0de", \
    ATTRS{idProduct}=="cafe", \
    TAG+="uaccess", \
    MODE="660", \
    GROUP="plugdev"
