[Unit]
Description=Save raw images from camera

[Service]
Type=simple
User=drone
Group=drone
ExecStart=/usr/bin/python /home/drone/camera.py
WorkingDirectory=/home/drone

[Install]
WantedBy=default.target
