[Unit]
Description=Save streamed accelerometer, gyroscope, synchronization messages from sensor- and USB-attached KB2040 board.
After=camera.service

[Service]
Type=simple
User=drone
Group=drone
ExecStart=/usr/bin/python /home/drone/nexus.py
WorkingDirectory=/home/drone

[Install]
WantedBy=default.target
